Django==4.2.7
djangorestframework==3.14.0
django-cors-headers==4.3.1
Pillow>=10.2.0
python-decouple==3.8
psycopg2-binary==2.9.11
python-dotenv==1.2.1
django-import-export==3.1.0
cloudinary==1.41.0
django-cloudinary-storage==0.3.0